@import "tailwindcss";
@import "@fontsource/inter";
@config "../tailwind.config.js";





@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }
}

/* Hide scrollbar while allowing scroll */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


/* app.css or globals.css */




